<!DOCTYPE html>
<html lang="en" data-random-animation="false" data-animation="11">

<head>

    <!--Meta Tags-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />


    <!--Page Title-->
    <title> Arthur Christian - Portfolio</title>

    <!--Plugins Css-->
    <link rel="stylesheet" href="../public/css/plugins.css">
    <!--Main Styles Css-->
    <link rel="stylesheet" href="../public/css/style-dark.css">
    <!--Color Css-->
    <link rel="stylesheet" href="../public/css/blue-color.css">
    <!--Font Awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
     <!--Google Font Awesome-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Modernizr Js-->
    <script src="../public/js/modernizr.js"></script>

    <!--Favicons-->
    <link rel="shortcut icon" href="../public/img/favicon.ico" type="image/x-icon">

</head>

<body>
    {{{body}}}

</body>

<!--Jquery JS-->
<script src="../public/js/jquery.min.js"></script>
<!--Plugins JS-->
<script src="../public/js/plugins.min.js"></script>
<!--Site Main JS-->
<script src="../public/js/main.js"></script>

</html>