<div class="single-work">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-10 offset-md-1 mb-40">
                        <h1 class="title mb-30">Appreciation Board</h1>
                        <p class="mb-30"> Appreciation Board is a web application that allows small businesses to provide a portal where employees can post recognition to their fellow staff for their outstanding merit. 
                              </p>
                        <ul class="information">
                            <li><span class="title">Programing Languages:</span> HTML, Node.js, React.js, CSS, MYSQL</li>
                            <li><span class="title">Deployed Website: </span>
                            <a class="material-icons" href="https://appreciationboard.herokuapp.com/" style="font-size:25px" target="_blank">&#xe89e;</a>
                             </li>
                            <li><span class="title">Github: </span>
                            <a class="fab fa-github-square" href="https://github.com/achristian91/FinalProject-Appreciation-Board" style="font-size:25px" target="_blank"></a>
                             </li>
                        </ul>

                        <figure class="mt-30"><img src="../public/img/portfolio/screenshots/app screen 1.jpg" alt=""></figure>
                        <figure class="mt-30"><img src="../public/img/portfolio/screenshots/app screen 2.jpg" alt=""></figure>

                    </div>
                </div>
            </div>
        </div>