<div class="single-work">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-10 offset-md-1 mb-40">
                        <h1 class="title mb-30">Friend Finder</h1>
                        <p class="mb-30">Full-stack site will take in results from your users' surveys, then compare their answers with those from other users. The app will then display the name and picture of the user with the best overall match. </p>
                        <ul class="information">
                            <li><span class="title">Programing Languages:</span> HTML, Node.js, CSS</li>
                            <li><span class="title">Deployed Website: </span>
                            <a class="material-icons" href="https://artfriendfinder91.herokuapp.com/" style="font-size:25px" target="_blank">&#xe89e;</a>
                             </li>
                            <li><span class="title">Github: </span>
                            <a class="fab fa-github-square" href="https://github.com/achristian91/friendfinder" style="font-size:25px" target="_blank"></a>
                             </li>
                        </ul>

                        <figure class="mt-30"><img src="../public/img/portfolio/screenshots/app screen 3.jpg" alt=""></figure>
                        <figure class="mt-30"><img src="../public/img/portfolio/screenshots/app screen 4.jpg" alt=""></figure>

                    </div>
                </div>
            </div>
        </div>